footer {
    background-color: var(--foot-bckgd-color);
    padding: 60px 0;
}

.logo--footer{
    margin-bottom: 20px;
}


.address {
    font-style: normal;
}

.address__link {
    color: var(--third-color);
}

.address__list li+li {
    margin-top: 9px;
}

.address__item {
    color: var(--foot-item-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}


.footer__blocks {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer__text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--third-color);
}


.mailling>p {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-color);
}

.mailling__form {
    display: flex;
}

.mailling__input {
    width: 358px;
    height: 50px;
    padding: 16px 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;


    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--foot-item-color);
}


.mailling__button {
    margin-left: 12px;
    padding: 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--third-color);
}

.mailling__icon {
    margin-left: 10px;
    fill: var(--third-color);
}